DJANGO_SECRET_KEY=dev-secret
DEBUG=1
DATABASE_URL=postgres://books:books@postgres:5432/gateway_db
SERVICE_NAME=api-gateway
SERVICE_PORT=8000
GATEWAY_TARGETS=staff-service:8001,manager-service:8002,customer-service:8003,catalog-service:8004,book-service:8005,cart-service:8006,order-service:8007,ship-service:8008,pay-service:8009,comment-rate-service:8010,recommender-ai-service:8011
